[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {hello_phoenix,
     [{'Elixir.HelloPhoenix.Endpoint',
          [{root,<<"/Users/izelnakri/hello_phoenix">>},
           {render_errors,[{accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.HelloPhoenix.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {url,
               [{host,<<"88.80.184.91">>},
                {url,<<"88.80.184.91">>},
                {port,8888}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {secret_key_base,
               <<"yMGGLk2oYw/I1DzV75IeKTzX4DbY8QHLiBeXb+kp5RwdW/1aG0NhV8UVKVKvKSXy">>}]},
      {'Elixir.HelloPhoenix.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"hello_phoenix_prod">>},
           {pool_size,20}]}]},
 {phoenix,[{generators,[{migration,true},{binary_id,false}]}]}].
